
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
  margin: auto;
}


header {
    max-width: 50%;
    margin: 30px auto 20px auto;
}

.rest-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rest-search--darkgrey {
    background-color: rgb(234,234,234);
}

.rest-search--light-grey {
    background-color: $color-background-light;
}

.rest-search__form {
    padding: 10px;
    font-size: 20px;   
}

.search-form {
    border: none;
    width: 80%;
    text-align: center;
}

.fa-location-dot {
    margin-left: 10px;
}


.rest-search__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.rest-search__heading {
    width: 70%;
    word-wrap: break-word;
    margin: 40px 0px 5px 0px;
    font-size: 30px;
}

.rest-search__heading-desc {
    width: 90%;
    word-wrap: break-word ;
    font-weight: 300;
    font-size: 22px;
    margin: 5px 0px 30px 0px;
}

.btn {
    border-radius:30px;
    border: none;
    color:white;
    margin-bottom:50px;
    font-size: 20px;
    width: max-content;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.btn--gradient {
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}

img {
    max-width: 100%;
}

