@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shirkhand';
    src: url('Fonts/Shirkhand/Shirkhand-Regular.ttf') format('truetype');
}