.hiw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-left: 10px;
}
.hiw .hiw__heading {
  margin: 30px 0px 20px 10px;
}

.hiw-step {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: center;
  margin: 10px 5px 5px 10px;
  border-radius: 15px;
  width: 90%;
  min-height: 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.hiw-step .hiw-step__icon {
  color: rgb(125, 125, 125);
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: 16px;
}
.hiw-step .hiw-step__number {
  background-color: #9356DC;
  border-radius: 30px;
  color: #FFF;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: -10px;
}
.hiw-step .hiw-step__text {
  margin: auto 20px;
  font-size: 16px;
  font-weight: 600;
}
.hiw-step:hover {
  background-color: rgb(245, 237, 255);
}
.hiw-step:hover .hiw-step__icon {
  color: #9356DC;
}

.rest-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 30px;
}
.rest-results .rest-results__heading {
  margin: 80px 0px 20px 25px;
}

.rest-card-prev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
  border-radius: 15px;
  width: 90%;
  height: 40%;
  text-align: left;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.rest-card-prev .rest-card-prev__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  object-fit: over;
  position: relative;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__new {
  background-color: #99E2D0;
  color: #2c9c81;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.5em;
  top: 0;
  bottom: 0;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__image {
  border-radius: 15px 15px 0px 0px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  text-decoration: none;
  width: 90%;
  align-items: center;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__rest-name {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px 5px 0px;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__location {
  font-size: 18px;
  font-size: 400;
  margin: 0px 0px 20px 0px;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__icon--active {
  display: contents;
  color: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__icon {
  font-size: 30px;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__icon .rest-card-prev__icon--active {
  display: none;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__icon:hover {
  cursor: pointer;
}
.rest-card-prev .rest-card-prev__link .rest-card-prev__icon:hover .rest-card-prev__icon--active {
  display: contents;
}

.rest-banner-image {
  z-index: 1;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.rest-menu {
  background-color: rgb(245, 245, 245);
  border-radius: 30px 30px 0px 0px;
  padding: 15px 0px 40px 20px;
  margin: -4em 0em 0em 0em;
  z-index: 10;
  position: relative;
}
.rest-menu .rest-menu__topheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rest-menu .rest-menu__topheading .rest-menu__likeicon {
  font-size: 30px;
  padding-right: 30px;
}
.rest-menu .rest-menu__heading {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 500;
  font-size: 34px;
}
.rest-menu .rest-menu__type-heading {
  text-transform: uppercase;
  font-weight: 300;
  width: 10%;
  padding-bottom: 5px;
  padding-top: 20px;
  border-bottom: 5px solid #99E2D0;
}
.rest-menu .rest-menu__course {
  background-color: #FFF;
  border-radius: 15px;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 15px 0px 15px;
  margin: 10px auto 10px 0px;
}
.rest-menu .rest-menu__course .rest-menu__course-name {
  margin-bottom: 0px;
}
.rest-menu .rest-menu__course .rest-menu__course-desc {
  margin-top: 5px;
}
.rest-menu .rest-menu__course .rest-menu__course-details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.order-now {
  display: flex;
  background-color: rgb(245, 245, 245);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100%;
  margin: auto;
}

img {
  max-width: 100%;
}

html {
  width: 100%;
}

.btn {
  border-radius: 30px;
  border: none;
  color: white;
  margin-bottom: 50px;
  font-size: 18px;
  width: max-content;
  padding: 0px 20px;
  cursor: pointer;
}

.btn--gradient {
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}

.btn-order {
  margin: 40px auto;
  width: 40%;
  padding: 10px 0px 10px 0px;
}

header {
  max-width: 50%;
  margin: 30px auto 20px auto;
  display: flex;
  justify-content: center;
}

.header-menupage {
  display: flex;
  align-items: center;
}
.header-menupage #logo {
  margin: auto;
}
.header-menupage .header-menupage__link {
  align-self: flex-start;
  position: absolute;
  left: 10px;
  top: 30px;
}
.header-menupage .header-menupage__link .header-menupage__icon {
  font-size: 30px;
  color: black;
  margin-left: 10px;
}

.rest-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.rest-search .rest-search__form {
  padding: 10px;
  font-size: 20px;
}
.rest-search .rest-search__icon {
  margin-left: 10px;
}
.rest-search .rest-search__form--input {
  border: none;
  width: 80%;
  text-align: center;
}
.rest-search .rest-search__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.rest-search .rest-search__heading {
  width: 70%;
  word-wrap: break-word;
  margin: 40px 0px 5px 0px;
  font-size: 30px;
}
.rest-search .rest-search__heading-desc {
  width: 90%;
  word-wrap: break-word;
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0px 30px 0px;
}

.rest-search--darkgrey {
  background-color: rgb(234, 234, 234);
}

.rest-search--light-grey {
  background-color: rgb(245, 245, 245);
}

.footer {
  background-color: rgb(53, 53, 53);
  color: #FFF;
  font-size: 18px;
}
.footer > ul {
  list-style: none;
  padding: 20px 0px 40px 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer > ul > li {
  margin-top: 5px;
}
.footer > ul > li > .footer__icon {
  margin-right: 15px;
  font-size: 16px;
}
.footer > ul > li > a {
  color: #FFF;
  text-decoration: none;
}
.footer .footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 34px;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
