.rest-banner-image {
    z-index: 1;
}
.rest-menu {
    background-color: $color-backlight;
    border-radius: 30px 30px 0px 0px;
    padding: 15px 0px 40px 20px;
    margin: -4em 0em 0em 0em;
    z-index: 10;
    position: relative;
    .rest-menu__topheading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rest-menu__likeicon {
            font-size: 30px;
            padding-right: 30px;
        }
    }
    .rest-menu__heading {
        font-family: Shirkhand;
        font-style: italic;
        font-weight: 900;
        font-size: 34px;
}
    .rest-menu__type-heading {
        text-transform: uppercase;
        font-weight: 300;
        width: 10%;
        padding-bottom: 5px;
        padding-top: 20px;
        border-bottom: 5px solid $color-tertiary;
    }

    .rest-menu__course {
        background-color: $color-white;
        border-radius: 15px;
        width: 92%;
        @include flex-col-flexstart;
        padding: 0px 15px 0px 15px;
        margin: 10px auto 10px 0px;
        .rest-menu__course-name {
            margin-bottom: 0px;
        }
        .rest-menu__course-desc {
            margin-top: 5px;
        }
        .rest-menu__course-details {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }
}