.hiw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-left: 10px;

    .hiw__heading {
        margin: 30px 0px 20px 10px;
    }
}

.hiw-step {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: center;
    margin: 10px 5px 5px 10px;
    border-radius: 15px;
    width: 90%;
    min-height: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;

    .hiw-step__icon {
        color: $color-icon-inactive;
        margin: auto 10px;
        @include flex-center-center;
        justify-items: center;
        font-size: 16px;
    }

    .hiw-step__number {
        background-color: $color-primary;
        border-radius: 30px;
        color: $color-white;
        width: 25px;
        height: 25px;
        @include flex-center-center;
        margin-right: 10px;
        margin-left: -10px;
    }

    .hiw-step__text {
        margin: auto 20px;
        font-size: 16px;
        font-weight: 600;
    }

    &:hover {
        background-color: $color-step-active;

        .hiw-step__icon {
            color: $color-primary;
        }
    }
}

.rest-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 30px;

    .rest-results__heading {
        margin: 80px 0px 20px 25px;
    }
}

.rest-card-prev {
    @include flex-col-flexstart;
    margin: 10px auto;
    border-radius: 15px;
    width: 90%;
    height: 40%;
    text-align: left;
    color: black;
    box-shadow: $shadow-reg;

    &:hover {
        box-shadow: $shadow-card-accent;
    }

    .rest-card-prev__link {
        @include flex-col-flexstart;
        width: 100%;
        text-decoration: none;
        object-fit: over;
        position: relative;

        .rest-card-prev__new {
            background-color: $color-tertiary;
            color: darken($color-tertiary, 35%);
            width: 80px;
            height: 25px;
            @include flex-center-center;
            position: absolute;
            right: 0.5em;
            top: 0;
            bottom: 0;
        }

        .rest-card-prev__image {
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        .rest-card-prev__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 10px;
            text-decoration: none;
            width: 98%;
            align-items: center;
        }

        .rest-card-prev__texts {
            @include flex-col-flexstart;
            justify-content: flex-start;
        }

        .rest-card-prev__rest-name {
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0px 5px 0px;

        }

        .rest-card-prev__location {
            font-size: 18px;
            font-size: 400;
            margin: 0px 0px 20px 0px;
        }

        .rest-card-prev__hearticon {
            margin: 10px 10px 10px 10px;
            &--reg {
                display: contents;
                font-size: 30px;

                &:hover {
                    cursor: pointer;
                    display: none;
                }
            }

            &--active {
                font-size: 30px;
                color: transparent;
                background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;

                &:hover, &:active {
                    animation: heart-filling 5OOOms ease-in-out forwards;
                }
            }
        }

    }
}

@keyframes heart-filling {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}