.loader-block {
    font-family: 'Shrikhand', sans-serif;
    font-size: 22px;
    width: 100%;
    height: 100%;
    line-height: 200px;
    color: black; 
    margin: auto;
    text-align: center;
    background-color: $color-backlight;
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
}

.loader { 
    width: 50px ;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.loader-block__ring {
    border-radius: 50px;
    border: 6px solid $color-backdark-50;
    margin-right:10px;
    &::after {
        content:"";
        position: absolute;
        top:-6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: $color-primary;
        animation: spin 900ms 200ms linear infinite both;
    }
}

@keyframes spin { 
    0% {
        transform: rotate(0deg) ;
        border-top-color: $color-primary;
    }
    50% {
        transform: rotate(180deg);
        border-top-color: $color-secondary;
    }
    100% {
        transform: rotate(360deg);
    }
}

.hiw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-left: 10px;

    .hiw__heading {
        margin: 30px 0px 20px 10px;
    }
}

.hiw-step {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: center;
    margin: 10px 5px 5px 10px;
    border-radius: 15px;
    width: 90%;
    min-height: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;

    .hiw-step__icon {
        color: $color-icon-inactive;
        margin: auto 10px;
        @include flex-center-center;
        justify-items: center;
        font-size: 16px;
    }

    .hiw-step__number {
        background-color: $color-primary;
        border-radius: 30px;
        color: $color-white;
        width: 25px;
        height: 25px;
        @include flex-center-center;
        margin-right: 10px;
        margin-left: -10px;
    }

    .hiw-step__text {
        margin: auto 20px;
        font-size: 16px;
        font-weight: 600;
    }

    &:hover {
        background-color: $color-step-active;

        .hiw-step__icon {
            color: $color-primary;
        }
    }
}

.rest-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 30px;

    .rest-results__heading {
        margin: 80px 0px 20px 25px;
    }
}

.rest-card-prev {
    @include flex-col-flexstart;
    margin: 10px auto;
    border-radius: 15px;
    width: 90%;
    height: 40%;
    text-align: left;
    color: black;
    box-shadow: $shadow-reg;
    position: relative;
    &:hover {
        box-shadow: $shadow-card-accent;
    }

    &__hearticon--reg {
            display: contents;
            font-size: 30px;
            margin: 10px 10px 10px 10px;
            position: absolute;
            bottom: 20px;
            right:20px;
            &:hover {
                cursor: pointer;
                display: none;
            }
        }

    &__hearticon--solid {
            font-size: 30px;
            margin: 10px 10px 10px 10px;
            position: absolute;
            bottom: 20px;
            right:20px;
            background-color: none;
            color: transparent;
            &:hover {
                    content:"";
                    cursor: pointer;
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
                    color: transparent;
                    animation: filling 150ms 0s ease-in-out forwards;
            }

            &:active {
                opacity: 1;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
                color: transparent;
                animation: filling 150ms 0s ease-in-out forwards;
            }
            &:focus {
                z-index: 1;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
                color: transparent;
            }
        }
    }

    .rest-card-prev__link {
        @include flex-col-flexstart;
        width: 100%;
        text-decoration: none;
        object-fit: over;
        position: relative;

        .rest-card-prev__new {
            background-color: $color-tertiary;
            color: darken($color-tertiary, 35%);
            width: 80px;
            height: 25px;
            @include flex-center-center;
            position: absolute;
            right: 0.5em;
            top: 0;
            bottom: 0;
        }

        .rest-card-prev__image {
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        .rest-card-prev__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 10px;
            text-decoration: none;
            width: 98%;
            align-items: center;
        }

        .rest-card-prev__texts {
            @include flex-col-flexstart;
            justify-content: flex-start;
        }

        .rest-card-prev__rest-name {
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0px 5px 0px;

        }

        .rest-card-prev__location {
            font-size: 18px;
            font-size: 400;
            margin: 0px 0px 20px 0px;
        }

    }

@keyframes filling {
    from {
        transform: scaleX(O);
        opacity: 0.1;
    }

    to {
        transform: scaleX(1);
        opacity: 1;
    }

}