.btn {
    border-radius:30px;
    border: none;
    color:white;
    margin-bottom:50px;
    font-size: 20px;
    width: max-content;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.btn--gradient {
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}