.btn {
    border-radius: 30px;
    border: none;
    color: white;
    margin-bottom: 50px;
    font-size: 18px;
    width: max-content;
    padding: 0px 20px;
    cursor: pointer;
    box-shadow: $shadow-reg;
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    transition: background-image 450ms, box-shadow 450ms 150ms;
    &:hover {
        box-shadow: $shadow-accent;
        background-image: linear-gradient(to right bottom, lighten($color-grad-1, 5%),lighten($color-grad-2, 5%), lighten($color-grad-3, 5%), lighten($color-grad-4, 5%), lighten($color-grad-5, 5%));
    }
}

.btn-order {
    margin: 40px auto;
    width: 40%;
    padding: 10px 0px 10px 0px;
}