header {
    max-width: 50%;
    margin: 30px auto 20px auto;
    display: flex;
    justify-content: center;
}

.header-menupage {
    display: flex;
    align-items: center;
    #logo {
        margin: auto;
    }
    .header-menupage__link {
        align-self: flex-start;
        position:absolute;
        left: 10px;
        top: 30px;
        .header-menupage__icon {
            font-size: 30px;
            color: black;
            margin-left: 10px;
        }
    }
}
