$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-backlight: rgb(245,245,245);
$color-backdark: rgb(234,234,234);
$color-white: #FFF;
$color-icon-inactive: rgb(125,125,125);
$color-step-active: rgb(245,237,255);


 