$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-4: black;
$color-background-light: rgb(245,245,245);
$color-background--dark: rgb(234,234,234);
$color-white: #fff;

 